<!DOCTYPE html>
<html>
<head>
  <title>YugiohApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='/assets/flavicon.ico' rel='shortcut icon' />
</head>
<body>

<%= yield %>

</body>
</html>
